body {
    background-color: rgb(88, 90, 121);
    font-family: 'Poppins', sans-serif;
}

/* Navbar */

.navbar {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-size: 1.25em;
}

.nav-link:hover {
    color: rgb(219, 159, 159);
}


#nav-link-one {
    color: white;
}

#nav-link-two {
    color: white;
}

#nav-link-three {
    color: rgb(255, 194, 150);
}

#nav-link-four {
    color: white;
}


#nav-link-one:hover {
    color: rgb(219, 159, 159);
}

#nav-link-two:hover {
    color: rgb(219, 159, 159);
}

#nav-link-three:hover {
    color: rgb(219, 159, 159);
}

#nav-link-four:hover {
    color: rgb(219, 159, 159);
}



/* Body */
.body-div {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}


h2 {
    color: white;
    font-size: 2em;
    text-align: center;
}

span {
    color: rgb(255, 194, 150);
}

h4 {
    color: white;
    font-size: 1em;
    text-align: center;
}

#timer-time {
    color: white;
    font-size: 6em;
    text-align: center;
}


.timer-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    width: 150px;
    height: 50px;
    background-color: rgb(255, 241, 234);
    border: none;
    border-radius: 12px;
    color: rgb(88, 90, 121);
    font-size: 1.5em;
    margin-top: 5%;
    margin-bottom: 5%;
    align-self: center;
}

.btn:hover {
    background-color: rgb(255, 194, 150);
    color: rgb(88, 90, 121);
    border: none;
}

.btn:focus {
    background-color: rgb(255, 194, 150);
    color: rgb(88, 90, 121);
    border: none;
}




#meditation-count {
    color: rgb(255, 194, 150);
    font-size: 6em;
    text-align: center;
}


@media (max-width: 991px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nav-link {
        font-size: 1em;
    }
}