body {
    background-color: rgb(88, 90, 121);
    font-family: 'Poppins', sans-serif;
}

.body-div {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h2 {
    color: white;
    font-size: 2em;
    text-align: center;
}

span {
    color: rgb(255, 194, 150);
}

.custom-input {
    border-radius: 12px;
    background-color: rgb(255, 241, 234);
    color: rgb(88, 90, 121);
}

.custom-input:focus {
    background-color: rgb(255, 194, 150);
    color: rgb(88, 90, 121);
    border: none;
}

.btn {
    width: 150px;
    height: 50px;
    background-color: rgb(255, 241, 234);
    border: none;
    border-radius: 12px;
    color: rgb(88, 90, 121);
    font-size: 1.5em;
    margin-left: 15%;
    margin-top: 10%;
}

.btn:hover {
    background-color: rgb(255, 194, 150);
    color: rgb(88, 90, 121);
    border: none;
}

.btn:focus {
    background-color: rgb(255, 194, 150);
    color: rgb(88, 90, 121);
    border: none;
}



h6 {
    font-size: 1em;
    color: white;
    text-align: center;
}

a {
    color: rgb(255, 194, 150);
}

a:hover {
    color: rgb(255, 194, 150);
}

.message {
    color: rgb(248, 118, 118);
}